<div>
  <form #addDivForm="ngForm" (ngSubmit)="addSignature(addDivForm)">
    <div style="margin-top: 2em"></div>
    <div class="flex justify-between">
      <div class="m-8">
        <label for="hex" class="block mb-2"> Employee: </label>
        <p-dropdown
          [options]="employeeslist"
          name="employeeId"
          optionLabel="fullName"
          [filter]="true"
          [(ngModel)]="signatureInfo.employeeId"
          filterBy="fullName"
          [showClear]="true"
          placeholder="Choose employee"
          styleClass="p-password"
          [required]="true"
          [style]="{ width: '250px', height: '45px' }"
        >
          <!-- <ng-template pTemplate="selectedItem">
            <div *ngIf="employee?.fullName">
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template> -->
          <ng-template let-employee pTemplate="item">
            <div>
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="m-8">
        <label for="hex" class="block mb-2"> Organizational unit: </label>
        <p-dropdown
          [options]="employeeslist"
          name="employeeId"
          optionLabel="fullName"
          [filter]="true"
          [(ngModel)]="signatureInfo.employeeId"
          filterBy="fullName"
          [showClear]="true"
          placeholder="Choose employee"
          styleClass="p-password"
          [required]="true"
          [style]="{ width: '250px', height: '45px' }"
        >
          <!-- <ng-template pTemplate="selectedItem">
            <div *ngIf="employee?.fullName">
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template> -->
          <ng-template let-employee pTemplate="item">
            <div>
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="m-8">
        <label for="hex" class="block mb-2"> Process: </label>
        <p-dropdown
          [options]="employeeslist"
          name="employeeId"
          optionLabel="fullName"
          [filter]="true"
          [(ngModel)]="signatureInfo.employeeId"
          filterBy="fullName"
          [showClear]="true"
          placeholder="Choose employee"
          styleClass="p-password"
          [required]="true"
          [style]="{ width: '250px', height: '45px' }"
        >
          <!-- <ng-template pTemplate="selectedItem">
            <div *ngIf="employee?.fullName">
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template> -->
          <ng-template let-employee pTemplate="item">
            <div>
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="m-8">
        <label for="hex" class="block mb-2"> Sub process: </label>
        <p-dropdown
          [options]="employeeslist"
          name="employeeId"
          optionLabel="fullName"
          [filter]="true"
          [(ngModel)]="signatureInfo.employeeId"
          filterBy="fullName"
          [showClear]="true"
          placeholder="Choose employee"
          styleClass="p-password"
          [required]="true"
          [style]="{ width: '250px', height: '45px' }"
        >
          <!-- <ng-template pTemplate="selectedItem">
            <div *ngIf="employee?.fullName">
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template> -->
          <ng-template let-employee pTemplate="item">
            <div>
              <div>{{ employee.fullName }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div *ngIf="update" class="col mb-4">
      <label for="integer" class="block mb-2">Status:</label>
      <input
        pInputText
        id="integer"
        pKeyFilter="int"
        [ngModel]="annualPlanInfo.status"
        name="status"
        [style]="{ width: '300px', height: '45px' }"
        required
        minlength="3"
      />
    </div>

    <div style="margin-top: 10em"></div>
    <div class="buttonDiv">
      <p-button label="Cancel" (click)="closeDialog()"></p-button>
      <p-button label="Create signature"></p-button>
    </div>
  </form>
</div>
