<form cForm class="row g-3">
  <c-col [md]="6">
  <label cLabel for="inputEmail4">First Name</label>
  <input cFormControl id="inputEmail4" type="email" />
  </c-col>
  
  <c-col [md]="6">
  <label cLabel for="inputPassword4">Father Name</label>
  <input cFormControl id="inputPassword4" type="password" />
  </c-col>

  <c-col [md]="6">
    <label cLabel for="inputPassword4">Grand Father Name</label>
    <input cFormControl id="inputPassword4" type="password" />
    </c-col>

  <c-col [md]="6">
  <label cLabel for="inputPassword4">Position</label>
  <input cFormControl id="inputPassword4" type="password" />
  </c-col>

  <c-col [md]="6">
  <label cLabel for="inputEmail4">Email</label>
  <input cFormControl id="inputEmail4" type="email" />
  </c-col>

  <c-col [md]="6">
    <label cLabel for="inputPassword4">Phone Number</label>
    <input cFormControl id="inputPassword4" type="password" />
    </c-col>

  <c-col [md]="6">
    <label cLabel for="inputState">Division</label>
    <select cSelect id="inputState">
      <option>Choose Division</option>
      <option value="1">One</option>
    </select>
  </c-col>

  <c-col [md]="6">
    <label cLabel for="formFile">Signature:</label>
    <input cFormControl id="formFile" type="file" />
  </c-col>

  <c-col [xs]="12">
    <p-button label="Create employee" type="submit" ></p-button>
  </c-col>
  </form>