<div>
  <form #addDivForm="ngForm" (ngSubmit)="submitAuditableArea(addDivForm)">
    <div style="margin-top: 2em;"></div>
    <div class="row">
      <div class="col mb-4">
        <label for="integer" class="block mb-2"> Name: </label>
        <input pInputText id="integer" pKeyFilter="int" [ngModel]="annualPlanInfo.name" name="name"
          [style]="{'width':'300px','height':'45px'}" required minlength="3" />
      </div>
      <div class="col mb-4">
        <label for="year" class="block mb-2">Year:</label>
        <p-dropdown [options]="years" name="year" [ngModel]="annualPlanInfo.year"
          [style]="{'width':'300px','height':'45px'}" [required]="true" [disabled]="update" placeholder="Choose year">
          <ng-template let-year pTemplate="item">
            <div>{{year}}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="row">
      <div class="col mb-4">
        <label for="hex" class="block mb-2"> Audit universe: </label>
        <p-dropdown [required]="true" [options]="auditUniverses" name="auditUniverse" optionLabel="name" [filter]="true"
          [ngModel]="annualPlanInfo.auditUniverse" filterBy="name" [showClear]="true"
          placeholder="Choose audit universe" styleClass="p-password" [style]="{'width':'300px','height':'45px'}"
          [disabled]="update">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="annualPlanInfo?.auditUniverse">
              <div>{{annualPlanInfo.auditUniverse.name}}</div>
            </div>
          </ng-template>
          <ng-template let-auditUniverse pTemplate="item">
            <div>
              <div>{{auditUniverse.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col">
        <label for="integer" class="block mb-2">Risk Scores:</label>
        <p-button (click)="show()" class="m-12" icon="pi pi-info-circle" label="Choose"></p-button>
      </div>
    </div>

    <div class="row mb-4">
      <div *ngIf="update" class="col mb-4">
        <label for="integer" class=" block mb-2">Status:</label>
        <input pInputText id="integer" pKeyFilter="int" [ngModel]="annualPlanInfo.status" name="status"
          [style]="{'width':'300px','height':'45px'}" required minlength="3" />
      </div>
      <div class="row">
        <div class="col mb-4">
          <label for="integer" class=" block mb-2"> Description: </label>
          <textarea pInputText id="integer" pKeyFilter="int" [ngModel]="annualPlanInfo.description" name="description"
            style='width: 97%; height:150px; resize: none;' required minlength="3"></textarea>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div style="margin-top: 15em;"></div>
    <div class="buttonDiv">
      <p-button label="Cancel" class="m-8" (click)="closeDialog()"></p-button>
      <p-button *ngIf="!update" label="Create audit universe" [disabled]="addDivForm.invalid!" type="submit"></p-button>
      <p-button *ngIf="update" label="Update audit universe" [disabled]="addDivForm.invalid!" type="submit"></p-button>
    </div>
  </form>
</div>