<app-cobHistory></app-cobHistory>
<c-row class="mt-4 mb-4">
  <c-col>
    <c-card class="mb-4">
      <c-card-header>
        Monthly bar chart
      </c-card-header>
      <c-card-body>
        <monthly-barChart></monthly-barChart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row class="mt-4 mb-4">
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Bar Chart of Weekly elapsed time
      </c-card-header>
      <c-card-body>
        <div class="chart-container">
          <div id="chart">
            <div class="week-picker-container">
              <label for="week-picker">Select a week:</label>
              <input type="week" id="week-picker" [(ngModel)]="selectedWeekString" (change)="onWeekChange($event)" />
              <button class="apply-button" (click)="onApply()">Apply</button>
            </div>
            <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [yaxis]="chartOptions.yaxis!"
              [xaxis]="chartOptions.xaxis!" [labels]="chartOptions.labels!" [stroke]="chartOptions.stroke!"
              [title]="chartOptions.title!" [dataLabels]="chartOptions.dataLabels" [fill]="chartOptions.fill!"
              [tooltip]="chartOptions.tooltip!"></apx-chart>
          </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Stage line Chart for each Day
      </c-card-header>
      <c-card-body>
        <app-line [data]="chartData"></app-line>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row class="mt-4 mb-4">
  <c-col>
    <c-card class="mb-4">
      <c-card-header>
        Batch stage bar chart
      </c-card-header>
      <c-card-body>
        <app-unusualBarChart></app-unusualBarChart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<!-- <c-row>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Polar Area Chart
      </c-card-header>
      <c-card-body>
        <c-chart type="polarArea" [data]="chartPolarAreaData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="6">
    <c-card class="mb-4">
      <c-card-header>
        Radar Chart
      </c-card-header>
      <c-card-body>
        <c-chart type="radar" [data]="chartRadarData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row> -->