<div *ngIf="newDiv">
  <form #addDivForm="ngForm">
    <div class="flex flex-col justify-around flex-wrap m-16">
      <div class="flex flex-row justify-between w-full">
        <div class="column risk-item">
          <h6>Risk Item</h6>
        </div>
        <div class="column">
          <h6>Likelihood</h6>
        </div>
        <div class="column">
          <h6>Impact</h6>
        </div>
      </div>
      <div *ngFor="let riskScore of riskScores; let i = index" class="flex flex-row justify-between w-full">
        <div class="column risk-item">
          <p>{{ i + 1 }}. {{ riskScore.name }}</p>
        </div>
        <div class="column">
          <p-dropdown [options]="options" [(ngModel)]="riskScore.selectedLikelihood" optionLabel="label"></p-dropdown>
        </div>
        <div class="column">
          <p-dropdown [options]="options" name="impact" optionLabel="label" [(ngModel)]="riskScore.selectedImpact"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="save-button">
      <p-button label="Save" (click)="saveRiskScores()" type="button"></p-button>
    </div>
  </form>
</div>
