<div>
  <form #addDivForm="ngForm" (ngSubmit)="submitChecklist(addDivForm)">
    <div style="margin-top: 2em;"></div>
    <div class="row">
      <div class="col mb-4">
        <label for="integer" class="block mb-2"> Name: </label>
        <input pInputText id="integer" pKeyFilter="int" [(ngModel)]="checklistInfo.name" name="name"
          [style]="{'width':'300px','height':'45px'}" required minlength="10" />
      </div>
      <div class="col mb-4">
        <label for="hex" class=" block mb-2"> Audit object: </label>
        <p-dropdown [required]="true" [options]="auditObjects" name="auditObjectDTO" optionLabel="name" [filter]="true"
          [(ngModel)]="selectedAuditObjectInfo" filterBy="name" [showClear]="true" placeholder="Choose audit object"
          styleClass="p-password" [style]="{'width':'300px','height':'45px'}">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedAuditObjectInfo">
              <div>{{selectedAuditObjectInfo.name}}</div>
            </div>
          </ng-template>
          <ng-template let-auditObject pTemplate="item">
            <div>
              <div>{{auditObject.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="col mb-4">
        <label for="hex" class="block mb-2"> Auditable area: </label>
        <p-dropdown [required]="true" [options]="auditableAreas" name="auditableAreaDTO" optionLabel="name" [filter]="true"
          [(ngModel)]="selectedAuditableArea" filterBy="name" [showClear]="true" placeholder="Choose auditable area"
          styleClass="p-password" [style]="{'width':'300px','height':'45px'}">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedAuditableArea">
              <div>{{selectedAuditableArea.name}}</div>
            </div>
          </ng-template>
          <ng-template let-auditableArea pTemplate="item">
            <div>
              <div>{{auditableArea.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col mb-4">
      </div>
    </div>
    <div style="margin-top: 15em;"></div>
    <div class="buttonDiv">
      <p-button *ngIf="!update" label="Create checklist" [disabled]="addDivForm.invalid!" type="submit"></p-button>
      <p-button *ngIf="update" label="Update checklist" [disabled]="addDivForm.invalid!" type="submit"></p-button>
    </div>
  </form>
</div>