<p-toast position="top-right"></p-toast>
<div class="but"><p-button label="Create a new audit universe" (click)="createNewAuditUniverse()"></p-button></div>
<div class="card">
    <h5 class="table-title">Audit Universe</h5>
    <p-table #dt1 [value]="auditUniverse" selectionMode="single" dataKey="id" [tableStyle]="{'min-width': '50rem'}"
        [rows]="5" [rowsPerPageOptions]="[5,10,15,20]" [paginator]="true" stateStorage="session"
        stateKey="statedemo-session">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID </th>
                <th pSortableColumn="name" >Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description" >Description <p-sortIcon
                        field="description"></p-sortIcon></th>
                <th pSortableColumn="type">Type</th>
                <th pSortableColumn="status">Status</th>
                <th scope="col" >Actions</th>
            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col"> <input pInputText type="text"
                        (input)="dt1.filter($any($event.target)?.value, 'name', 'contains')"
                        [value]="$any(dt1.filters['name'])?.value" placeholder="Search by Name" class="p-column-filter">
                </th>
                <th scope="col"> <input pInputText type="text"
                        (input)="dt1.filter($any($event.target)?.value, 'description', 'contains')"
                        [value]="$any(dt1.filters['description'])?.value" placeholder="Search by Description"
                        class="p-column-filter"></th>
                <th scope="col"> <input pInputText type="text"
                        (input)="dt1.filter($any($event.target)?.value, 'type', 'contains')"
                        [value]="$any(dt1.filters['type'])?.value" placeholder="Search by Type" class="p-column-filter">
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-auditUniverse>
            <tr [pSelectableRow]="auditUniverse">
                <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" tooltipPosition="top">
                    {{auditUniverse?.id}}</td>
                <td>{{auditUniverse?.name}}</td>
                <td>{{auditUniverse?.description}}</td>
                <td>{{auditUniverse?.type}}</td>
                <td>{{auditUniverse?.status}}</td>
                <td>
                    <button pButton (click)="updateAuditUniverse(auditUniverse.id)" [ngClass]="{updateBlue: true}"
                        class="p-button-sm" label="Update"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>