<div>
  <form #addDivForm="ngForm" (ngSubmit)="submitAuditSchedule(addDivForm)">
    <div style="margin-top: 2em"></div>
    <div class="row">
      <div class="col mb-4">
        <label for="startOn" class="block mb-2"> Start on: </label>
        <p-calendar id="startOn" [ngModel]="scheduleInfo.startOn" name="startOn"
          [style]="{ width: '300px', height: '45px' }" [required]="true"></p-calendar>
      </div>
      <div class="col mb-4">
        <label for="endOn" class="block mb-2"> End on: </label>
        <p-calendar id="endOn" [ngModel]="scheduleInfo.endOn" name="endOn"
          [style]="{ width: '300px', height: '45px' }" [required]="true"></p-calendar>
      </div>
    </div>
    <div class="row">
      <div class="col mb-4">
        <label for="hex" class="block mb-2"> Auditable engagement: </label>
        <p-dropdown [required]="true" [options]="annualPlans" name="auditEngagement" [filter]="true"
          [(ngModel)]="scheduleInfo.annualPlan" filterBy="name" [showClear]="true" placeholder="Choose audit type"
          styleClass="p-password" [style]="{ width: '300px', height: '45px' }" [disabled]="update">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="scheduleInfo.annualPlan">
              <div>{{ scheduleInfo.annualPlan.name }}</div>
            </div>
          </ng-template>
          <ng-template let-annualPlan pTemplate="item">
            <div>
              <div>{{ annualPlan.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col mb-4">
        <label for="hex" class="block mb-2"> Team members: </label>
        <p-dropdown [required]="true" [options]="annualPlans" name="teamMembers" [filter]="true"
          [(ngModel)]="scheduleInfo.annualPlan" filterBy="name" [showClear]="true" placeholder="Choose audit type"
          styleClass="p-password" [style]="{ width: '300px', height: '45px' }" [disabled]="update">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="scheduleInfo.annualPlan">
              <div>{{ scheduleInfo.annualPlan.name }}</div>
            </div>
          </ng-template>
          <ng-template let-annualPlan pTemplate="item">
            <div>
              <div>{{ annualPlan.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="col mb-4">
        <label for="hex" class="block mb-2"> Annual plan: </label>
        <p-dropdown [required]="true" [options]="annualPlans" name="auditType" [filter]="true" [(ngModel)]="scheduleInfo.annualPlan"
          filterBy="name" [showClear]="true" placeholder="Choose audit type" styleClass="p-password"
          [style]="{ width: '300px', height: '45px' }" [disabled]="update">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="scheduleInfo.annualPlan">
              <div>{{ scheduleInfo.annualPlan.name }}</div>
            </div>
          </ng-template>
          <ng-template let-annualPlan pTemplate="item">
            <div>
              <div>{{ annualPlan.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div *ngIf="update" class="col mb-4">
        <label for="integer" class="block mb-2">Status:</label>
        <input pInputText id="integer" pKeyFilter="int" [(ngModel)]="scheduleInfo.status" name="status"
          [style]="{ width: '300px', height: '45px' }" required minlength="3" />
      </div>
    </div>
    <div style="margin-top: 10em"></div>
    <div class="buttonDiv">
      <p-button label="Cancel" (click)="closeDialog()"></p-button>
      <p-button *ngIf="!update" label="Create audit scheudle" [disabled]="addDivForm.invalid!" type="submit"></p-button>
      <p-button *ngIf="update" label="Update audit scheudle" [disabled]="addDivForm.invalid!" type="submit"></p-button>
    </div>
  </form>
</div>