<form cForm class="row g-3">
  <c-col [md]="6">
  <label cLabel for="inputEmail4">Username</label>
  <input cFormControl id="inputEmail4" type="email" />
  </c-col>
  
  <c-col [md]="6">
  <label cLabel for="inputPassword4">Password</label>
  <input cFormControl id="inputPassword4" type="password" />
  </c-col>

  <c-col [md]="6">
    <label cLabel for="inputState">Employee</label>
    <select cSelect id="inputState">
      <option>Choose Employee</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </c-col>

    <c-col [md]="6">
      <label cLabel for="inputState">Role</label>
      <select cSelect id="inputState">
        <option>Choose a Role</option>
        <option value="1">User</option>
        <option value="2">Admin</option>
        <option value="3">Director</option>
      </select>
      </c-col>

  <c-col [xs]="12">
    <p-button label="Create User" type="submit"></p-button>
  </c-col>
  </form>